@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");

$fontFamily: "Ubuntu", sans-serif;
$bgImg: "https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  .showcase {
    height: 100vh;
    width: 100vw;
    background-image: url($bgImg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper {
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      .title {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2rem;
        .box1 {
          text-align: center;

          margin: 0 auto;
          h1 {
            margin: 1rem auto;
            font-size: 3.5rem;
          }
          h3 {
            font-size: 1.5rem;
          }
          hr {
            margin: 1rem auto;
            height: 0.15rem;
            border: none;
            color: black;
            background-color: black;
          }
          .social {
            width: 50%;
            margin: 0 auto;
            ul {
              list-style: none;
              display: flex;
              justify-content: space-around;

              a {
                text-decoration: none;
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .box1 {
    width: 90%;
  }
}
